/target

# ignore useless dynamic and static libraries
*.dll
*.lib
*.pdb

# ignore vscode directory
.vscode/

# ignore cargo.lock because this is a dev project but not a prooduct for customers
Cargo.lock
